html, body {
    width: 100%;
    height: 100%;
}

body{
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     font-family: Ubuntu;
}

.header-box{
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
}

.header-box-content{
    width: 1366px;
    height: 58px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header-box-title h2{
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: 700;
    margin-left: 79px;
}

.header-box-title h2:hover{
 color: #3CB878;
 transition: 0.3s;
}

.header-box-svg-calendar{
    display: block;
    width:21px;
    height:24px;
    background: url("../img/SVG/calendar.svg");
    margin-left: 780px;
}

.header-box-svg-calendar:hover{
    background: url("../img/SVG/calendar-green.svg");
    cursor: pointer;
    transition: 0.3s;
}

.header-box-svg-mail{
    display: block;
    width:23px;
    height:23px;
    background: url("../img/SVG/mail.svg");
    margin-left: 27px;
}

.header-box-svg-mail:hover{
    background: url("../img/SVG/mail-green.svg");
    cursor: pointer;
    transition: 0.3s;
}

.header-box-svg-compass{
    display: block;
    width:23px;
    height: 23.25px;
    background: url("../img/SVG/compass.svg");
    margin-left: 24px;
}

.header-box-svg-compass:hover{
    background: url("../img/SVG/compass-green.svg");
    cursor: pointer;
    transition: 0.3s;
}


.header-box-content hr{
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-left: 25px;
    margin-right: 0;
}


.header-box-link-hover{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-box-link-hover:hover{
    color:#3CB878;
    transition: 0.3s;
}

.header-box-content h3{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 27px;
}

.content{
    height: 100vh;   
    display: flex;
    align-items: center;
    justify-content: center;
}
   

.content-box{
    margin-top: 58px;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.content-box-sing-up-flex{
    display: flex;
    flex-wrap: wrap;
    padding-top: 31px;
}

.content-box-green-square{
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.content-box-sing-up-flex h2{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-left: 43px;
    font-weight: 400;
}

.content-box-log-in-link{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    font-weight: 400;
    margin-left: 216px;
}

.content-box-log-in-link:hover{
    color: #01813F;
    text-decoration: underline;
    transition: 0.3s;
}

.button-facebook{
    margin-top: 15px;
    margin-left: 60px;
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 3px;
    border: none;
}

.button-facebook:hover{
    background:#022263;
    transition: 0.3s;
}

.button-facebook svg{
    display: inline-block;
    width:12,46px;
    height:24px;
    vertical-align: middle;
}

.button-facebook-separator:before{
    content: '';
    display: inline-block;
    margin-left: 18.7px;
    margin-right: 18px;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    vertical-align: middle;
    margin-bottom: 5px;
}

.button-title{
    margin-top: 5px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
}

.button-google{
    margin-top: 15px;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    margin-left: 4px;
    border-radius: 3px;
    border: none;
}



.button-google:hover{
    background: #AB1F09;
    transition: 0.3s;
}

.button-google svg{
    display: inline-block;
    width: 30px;
    height: 19px;
    vertical-align: middle;
}

.button-google-separator:before{
    content: '';
    display: inline-block;
    margin-left: 7px;
    margin-right: 30px;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    vertical-align: middle;
    margin-bottom: 5px;
}

.content-box-title-or{
    margin-top: 31px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    font-weight: 400;
    text-align: center;
}

.content-box-title-or::before{
    margin-right: 5px;
    content: '';
    display: inline-block;
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    vertical-align: middle;
}
.content-box-title-or::after{
    margin-left: 2px;
    content: '';
    display: inline-block;
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    vertical-align: middle;
}

.content-form-size{
    height: 333px;
}

.content-form{
    display: flex;
    flex-wrap: wrap;
    padding-top: 11px;
    width: 324px;
    height: 44px;
    margin-left: 60px;
}

.content-box-form{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 15px;
}

.content-box-form-padding{
    margin-bottom: 12px;
}

.content-box-form:focus{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    font-weight: 400;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
    outline: 0;
    outline-offset: 0;
}

.content-box-checkbox{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    font-weight: 400;
    margin-left: 65px;
}

.content-box-checkbox-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.content-box-checkbox-link:hover{
    color:#01813F;
    text-decoration: underline;
    transition: 0.3s;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
}


input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 2px;
    top: 3px;
    width: 15px;
    height: 9px;
    border-radius: 1px;
    border-left: 3px solid #3CB878;
    border-bottom: 3px solid #3CB878;
    -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    transform: rotate(-55deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
} 


.content-box-down-button{
    margin-top: 18px;
    width: 324px;
    height: 46px;   
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 60px;
    border: none;
}

.content-box-down-button:hover{
    background: #01813F;
    transition: 0.3s;
}
